* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
}

nav {
    height: 50px;
    background-color: rgb(253, 153, 86);
    display: flex;
    justify-content: right;
    align-items: center;
    background-image: url(./ImgProj4/Nav-img2.jpg);
    background-position: 50px 220px;
}

.email a {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
}

.cell a {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
}

nav a {
    margin-right: 30px;
    text-decoration: none;
    color: rgb(20, 20, 20);
    font-size: 15pt;

}

.cell {
    margin-right: 100px;
}

header {
    height: 130px;
    display: flex;
    grid-gap: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: blanchedalmond;
}

.imgLogo img {
    height: 100px;
}

header a {
    text-decoration: none;
    font-size: 17pt;
}

.qns a {
    color: blueviolet;
}

.especialidades a {
    color: orangered;
}

.mais a {
    color: green;
}

main {
    height: 1000px;
}

.master1 {
    height: 80%;
    width: 100%;
}

.img_espaco {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
}

.subconteiner1 {
    height: 100%;
    width: 50%;
}

.conteiner1 {
    height: 33%;
    width: 100%;
    display: flex;
}

.div1 {
    width: 50%;
    height: 100%;
}

.img1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.img1 img {
    border-radius: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 70%;
    height: 90%;
}

.img1 img:hover {
    transform: translate(-5px, -10px);

}

.texto1 {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.texto1 p {
    text-align: center;
    font-size: 14pt;
    color: rgb(62, 62, 104);
    font-family: Arial, Helvetica, sans-serif;
}

.conteiner2 {
    height: 33%;
    width: 100%;
    display: flex;
}

.div2 {
    width: 50%;
    height: 100%;
}

.img2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img2 img {
    border-radius: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 70%;
    height: 90%;
}

.img2 img:hover {
    transform: translate(-5px, -10px);
}

.texto2 {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.texto2 p {
    text-align: center;
    font-size: 15pt;
    width: 100%;
    color: rgb(62, 62, 104);
    font-family: Arial, Helvetica, sans-serif;

}

.conteiner3 {
    height: 33%;
    width: 100%;
    display: flex;
}

.div3 {
    width: 50%;
    height: 100%;
}

.img3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img3 img {
    border-radius: 100%;
    background-size: 100%;
    width: 70%;
    height: 90%;
}

.img3 img:hover {
    transform: translate(-5px, -10px);
}

.texto3 {
    width: 60%;
    height: 100%;
}

.subconteiner3 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    margin-bottom: 15px;
}

.titulo h2 {
    font-size: 17pt;
    color: rgb(62, 62, 104);
    font-family: Arial, Helvetica, sans-serif;
}

.list1 {
    font-size: 15pt;
    color: rgb(47, 47, 78);

}

.list2 {
    list-style-type: none;
    margin-top: 5px;
    margin-left: 20px;
    color: rgb(62, 62, 104);
}

.subconteiner2 {
    background-image: url(./ImgProj4/WhatsApp\ Image\ 2023-07-17\ at\ 14.01.33.jpeg);
    background-size: 100%;
    height: 100%;
    width: 50%;
}

.ap_espaco {
    height: 500px;
    padding-top: 20px;
}

.titulo1 {
    width: 100%;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titulo1 h2 {
    text-align: center;
    font-size: 25pt;
    color: rgb(47, 47, 78);
}

.conteudo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.img_espaco1 {
    height: 70%;
    width: 30%;
    border: solid 1px;
    justify-content: center;
    background: url(./ImgProj4/WhatsApp\ Image\ 2023-08-11\ at\ 20.21.51.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.img_espaco2 {
    height: 70%;
    width: 30%;
    border: solid 1px;
    background: url(./ImgProj4/WhatsApp\ Image\ 2023-08-11\ at\ 21.03.48.jpeg);
    background-size: 100%;
    background-position: center;
}

.img_espaco3 {
    height: 70%;
    width: 30%;
    border: solid 1px;
    background: url(./ImgProj4/WhatsApp\ Image\ 2023-08-11\ at\ 20.21.51\ \(1\).jpeg);
    background-size: 100%;
    background-repeat: no-repeat;

}